*{
    padding: 0;
    margin:0;
}

.nav-container{
    color: whitesmoke;
    padding: 1rem;
}
.nav-container .Logo-Container h1{
font-size: 30px;
}
.nav-container nav{
display: flex;
justify-content: space-between;
}

.nav-container nav ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}

.nav-container nav ul li{
    font-size: 18px;
    
}
