*{
    padding: 0;
    margin:0;
    /* outline: red 1px solid; */
}

.nav-container{
    color: whitesmoke;
    padding: 1rem;
}
.nav-container .Logo-Container h1{
font-size: 30px;
}
.nav-container nav{
display: flex;
justify-content: space-between;
}

.nav-container nav ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}

.nav-container nav ul li{
    font-size: 18px;
    
}



.nav-container .nav-btn{
    display: flex;

}


.nav-container .nav-btn button{
    border-radius: 15px;
}
.nav-container .nav-btn .container-show{
    display: grid;
    position: absolute;
    margin-top: 5rem;
}
.nav-container .nav-btn .container-show ul{
    display: grid;
    transition: 1s ease-in-out;
    z-index: 1;
    margin-left: 1rem;
}

@media (max-width: 1050px) {
    .nav-container nav ul {
        display: none;
    }
    
}

@media (min-width:1050px) {
  .nav-container .nav-btn {
    display: none;
  }
}

@media(max-width: 400px){
    .nav-container .nav-btn button{
        padding: 10px 20px;
    }


}

