*{
    padding: 0;
    margin: 0;
}

.s7-main-container{
    background-color:#020230 ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    padding: 7rem;
    gap: 1rem;
    height: 50vh;
    margin-top: 10%;
}

.s7-main-container .Subscribe-container{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 900px) {
 .s7-main-container{

  padding: 0;
 }   
}

@media (max-width: 530px) {
 .s7-main-container{
  grid-template-columns: repeat(1,1fr);
  margin-top: 5rem;
  height: 100vh;
 } 
}

